<div class="container-fluid">
  <p class="subheading">Showing data for
    <%= link_to (@node.name || @node.code), "#", id: "gxp-select", data: { toggle: "modal", target: "gxp-modal" } %>
    grid exit point from <%= @from.strftime("%B %Y") %> to <%= @to.strftime("%B %Y") %>. Click and drag to filter the
    charts below, or click to select days of the week.
  </p>
  <div class="row">
    <div class="col-md-9">
      <div id="price_by_time_chart" class="chart stacked"></div>
      <div id="price_by_dom_chart" class="chart stacked"></div>
    </div>
    <div class="col-md-3">
      <div id="options-panel">
        <legend>Options</legend>

        <strong>Data</strong>
        <div class="radio">
          <label><input type="radio" name="display_value" value="average-only" checked="checked">
            Average only</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="display_value" value="typical-range">
            Show typical range</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="display_value" value="min-max">
            Show minimum and maximums</label>
        </div>

        <strong>Pricing</strong>
        <div class="radio">
          <label><input type="radio" name="price_scale" value="dollars-per-mwh" checked="checked">
            Show $/MWh</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="price_scale" value="cents-per-kwh">
            Show &cent;/kWh</label>
        </div>

      </div>
      <div id="price_by_day_of_week_chart" class="chart">
        <legend>Day of week</legend>
      </div>
    </div>
  </div>
</div>

<div id="gxp-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="get" action="">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select grid exit point</h4>
        </div>
        <div class="modal-body">
          <p>The electricity market is divided into over 100 nodes known as grid exit points (or grid input points in
            the case of generation). Spot prices vary slightly between grid exit points, especially when they are in
            different parts of the country. Some improvements are coming soon that will make it easy to find your
            grid exit point, but in the meantime if you are not sure, just go with the default option.</p>

          <p>Use the dropdown below to select a grid exit point.</p>
          <select id="gxp-dropdown" name="node">
            <% @nodes.each do |node| %>
              <option value="<%= node.code %>"><%= node.name ? "#{node.name} (#{node.code})" : node.code %></option>
            <% end %>
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">OK</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>

  </div>
</div>

<script type="text/javascript">
  var NODE = '<%= @node.code %>';
</script>