<!DOCTYPE html>
<html>
<head>
  <title>Spotprice</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Average electricity spot prices in New Zealand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= active_link_to "Interactive visualisation", root_path, active: :exclusive, wrap_tag: :li %>
        <%= active_link_to "About", about_path, wrap_tag: :li %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<footer class="footer">
  <div class="container">
    <p class="text-muted">This visualisation was made by <%= link_to "George Dewar", "http://dewar.co.nz" %>. The
    underlying data is from the
      <%= link_to "Electricity Market Information (EMI)", "http://www.emi.ea.govt.nz/" %> website, and is owned by
      the <%= link_to "Electricity Authority", "http://www.ea.govt.nz/" %>.</p>
  </div>
</footer>

</body>
</html>
